.detalle {
    display: flex;
    justify-content: center;
}
.todito{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    background-color: rgb(85, 85, 85);
    border-radius: 20px;
}