.titulo {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
}

.lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 10px;
}

.listado {
    display: flex;
    justify-content: center;
}

.listado a {
    color: black;
    background-color: white;
    text-decoration: none;
}

.inicio {
    display: flex;
    justify-content: center;
    text-decoration: solid;
    background-color: black;
    color: white;
    border-radius: 10px;
}